<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 12">
<meta name=Originator content="Microsoft Word 12">
<link rel=File-List href="esTeam_help.files/filelist.xml">
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>LG</o:Author>
  <o:Template>Normal</o:Template>
  <o:LastAuthor>LG</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>2</o:TotalTime>
  <o:Created>2010-06-15T05:34:00Z</o:Created>
  <o:LastSaved>2010-06-15T05:34:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>250</o:Words>
  <o:Characters>1425</o:Characters>
  <o:Company>LEP-TOP</o:Company>
  <o:Lines>11</o:Lines>
  <o:Paragraphs>3</o:Paragraphs>
  <o:CharactersWithSpaces>1672</o:CharactersWithSpaces>
  <o:Version>12.00</o:Version>
 </o:DocumentProperties>
</xml><![endif]-->
<link rel=themeData href="esTeam_help.files/themedata.thmx">
<link rel=colorSchemeMapping href="esTeam_help.files/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
  <w:LidThemeComplexScript>HE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:DontUseIndentAsNumberingTabStop/>
   <w:FELineBreak11/>
   <w:WW11IndentRules/>
   <w:DontAutofitConstrainedTables/>
   <w:AutofitLikeWW11/>
   <w:HangulWidthLikeWW11/>
   <w:UseNormalStyleForList/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="--"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="267">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;
	mso-font-charset:2;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:0 268435456 0 0 -2147483648 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:-1610611985 1107304683 0 0 159 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-1610611985 1073750139 0 0 159 0;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:1627400839 -2147483648 8 0 66047 0;}
@font-face
	{font-family:Verdana;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:536871559 0 0 0 415 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Arial;}
a:link, span.MsoHyperlink
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:blue;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:purple;
	text-decoration:underline;
	text-underline:single;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:.5in;
	mso-add-space:auto;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Arial;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Arial;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Arial;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:.5in;
	mso-add-space:auto;
	line-height:115%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Arial;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-bidi-font-family:Arial;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 @list l0
	{mso-list-id:495851352;
	mso-list-type:hybrid;
	mso-list-template-ids:-510113300 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l0:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l0:level2
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l0:level3
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l0:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l0:level5
	{mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l0:level6
	{mso-level-tab-stop:3.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l0:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l0:level8
	{mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l0:level9
	{mso-level-tab-stop:4.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1
	{mso-list-id:605574593;
	mso-list-type:hybrid;
	mso-list-template-ids:595905616 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l1:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l1:level2
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l1:level3
	{mso-level-tab-stop:1.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level5
	{mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level6
	{mso-level-tab-stop:3.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level8
	{mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level9
	{mso-level-tab-stop:4.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2
	{mso-list-id:766078194;
	mso-list-type:hybrid;
	mso-list-template-ids:-2076791094 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l2:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l2:level2
	{mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level3
	{mso-level-tab-stop:1.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level5
	{mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level6
	{mso-level-tab-stop:3.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level8
	{mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level9
	{mso-level-tab-stop:4.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3
	{mso-list-id:1099646477;
	mso-list-type:hybrid;
	mso-list-template-ids:776235492 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l3:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l3:level2
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l3:level3
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l3:level4
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l3:level5
	{mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level6
	{mso-level-tab-stop:3.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level8
	{mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level9
	{mso-level-tab-stop:4.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"\05D8\05D1\05DC\05D4 \05E8\05D2\05D9\05DC\05D4";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-qformat:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Calibri","sans-serif";}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="3074"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=Section1>

<p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><b><u><span lang=HE style='font-size:16.0pt;line-height:115%;font-family:
"Tahoma","sans-serif"'>&#1492;&#1504;&#1495;&#1497;&#1493;&#1514;
&#1500;&#1506;&#1489;&#1493;&#1491;&#1492; &#1506;&#1501;
&#1502;&#1506;&#1512;&#1499;&#1514; &#1492;&#1506;&#1491;&#1499;&#1493;&#1503;
&#1513;&#1500; &#1511;&#1489;&#1493;&#1510;&#1514; </span></u></b><span
class=SpellE><b><u><span dir=LTR style='font-size:16.0pt;line-height:115%;
font-family:"Tahoma","sans-serif"'>esTeam</span></u></b></span><b><u><span
dir=LTR style='font-size:16.0pt;line-height:115%;font-family:"Tahoma","sans-serif"'><o:p></o:p></span></u></b></p>

<p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><b><u><span lang=HE style='font-size:14.0pt;line-height:115%;font-family:
"Arial","sans-serif";mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1514;&#1488;&#1493;&#1512;
&#1499;&#1500;&#1500;&#1497;<o:p></o:p></span></u></b></p>

<p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><span lang=HE style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1514;&#1493;&#1499;&#1503;
&#1492;&#1488;&#1514;&#1512; &#1502;&#1493;&#1495;&#1494;&#1511;
&#1489;&#1491;&#1508;&#1497;&#1501;. &#1499;&#1500; &#1491;&#1507;
&#1502;&#1493;&#1512;&#1499;&#1489; &#1502;&#1502;&#1505;&#1502;&#1498;
&#1488;&#1495;&#1491; &#1488;&#1493; &#1497;&#1493;&#1514;&#1512;,
&#1499;&#1488;&#1513;&#1512; &#1499;&#1500; &#1502;&#1505;&#1502;&#1498;
&#1502;&#1493;&#1512;&#1499;&#1489; &#1502;&#1508;&#1512;&#1511;
&#1488;&#1495;&#1491; &#1488;&#1493; &#1497;&#1493;&#1514;&#1512;. <o:p></o:p></span></p>

<p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><span lang=HE style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1502;&#1506;&#1512;&#1499;&#1514;
&#1514;&#1493;&#1502;&#1499;&#1514; &#1489;&#1513;&#1500;&#1493;&#1513;&#1492;
&#1505;&#1493;&#1490;&#1497;&#1501; &#1513;&#1500;
&#1491;&#1508;&#1497;&#1501;, &#1499;&#1488;&#1513;&#1512; &#1499;&#1500;
&#1505;&#1493;&#1490; &#1514;&#1493;&#1502;&#1498;
&#1489;&#1505;&#1493;&#1490;&#1497;&#1501; &#1513;&#1493;&#1504;&#1497;&#1501;
&#1513;&#1500; &#1514;&#1510;&#1493;&#1490;&#1493;&#1514;.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpFirst dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l1 level1 lfo2;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1491;&#1507;
&#1502;&#1505;&#1502;&#1498; <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l1 level2 lfo2;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1491;&#1507;
&#1494;&#1492; &#1514;&#1493;&#1502;&#1498;
&#1489;&#1514;&#1510;&#1493;&#1490;&#1492; &#1513;&#1500; &#1496;&#1511;&#1505;&#1496;&#1497;&#1501;
&#1508;&#1513;&#1493;&#1496;&#1497;&#1501;, &#1513;&#1500;
&#1514;&#1502;&#1493;&#1504;&#1493;&#1514; &#1493;&#1513;&#1500;
&#1505;&#1512;&#1496;&#1497;&#1501;.</span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l1 level2 lfo2;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1491;&#1507;
&#1494;&#1492; &#1502;&#1499;&#1497;&#1500; &#1502;&#1505;&#1502;&#1498;
&#1497;&#1495;&#1497;&#1491; &#1493;&#1500;&#1499;&#1503;
&#1500;&#1502;&#1506;&#1513;&#1492; &#1492;&#1514;&#1493;&#1499;&#1503;
&#1513;&#1500; &#1492;&#1491;&#1507;<span style='mso-spacerun:yes'> 
</span>&#1502;&#1493;&#1496;&#1506;&#1503;
&#1497;&#1513;&#1497;&#1512;&#1493;&#1514; &#1500;&#1514;&#1493;&#1498;
&#1508;&#1512;&#1511;&#1497;&#1501;</span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l1 level1 lfo2;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1491;&#1507;
&#1502;&#1505;&#1502;&#1499;&#1497;&#1501;</span><span dir=LTR
style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l1 level2 lfo2;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1491;&#1507;
&#1494;&#1492; &#1514;&#1493;&#1502;&#1498;
&#1489;&#1514;&#1510;&#1493;&#1490;&#1492; &#1513;&#1500;
&#1488;&#1512;&#1499;&#1497;&#1493;&#1503;
&#1502;&#1505;&#1502;&#1499;&#1497;&#1501;
&#1493;&#1502;&#1514;&#1488;&#1497;&#1501; &#1500;&#1514;&#1510;&#1493;&#1490;&#1514;
&#1502;&#1488;&#1502;&#1512;&#1497;&#1501;, &#1511;&#1496;&#1506;&#1497; <span
class=SpellE>&#1506;&#1514;&#1493;&#1504;&#1493;&#1514;</span> <span
class=SpellE>&#1493;&#1499;&#1493;</span>.</span><span dir=LTR
style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l1 level2 lfo2;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1514;&#1493;&#1499;&#1503;
&#1513;&#1500; &#1492;&#1491;&#1507; &#1502;&#1493;&#1496;&#1506;&#1503;
&#1500;&#1514;&#1493;&#1498; &#1502;&#1505;&#1502;&#1499;&#1497;&#1501;
&#1513;&#1493;&#1504;&#1497;&#1501; &#1499;&#1488;&#1513;&#1512; &#1499;&#1500;
&#1502;&#1505;&#1502;&#1498; &#1502;&#1499;&#1497;&#1500; &#1508;&#1512;&#1511;
&#1488;&#1495;&#1491; &#1488;&#1493; &#1497;&#1493;&#1514;&#1512;</span><span
dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l1 level1 lfo2;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1491;&#1507;
&#1508;&#1506;&#1493;&#1500;&#1492;</span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast dir=RTL style='margin-top:0in;margin-right:
1.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l1 level2 lfo2;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1491;&#1507;
&#1502;&#1505;&#1493;&#1490; &#1508;&#1506;&#1493;&#1500;&#1492;,
&#1502;&#1490;&#1491;&#1497;&#1512; &#1491;&#1507;
&#1513;&#1502;&#1508;&#1506;&#1497;&#1500; &#1508;&#1506;&#1493;&#1500;&#1492;
&#1499;&#1502;&#1493; &#1500;&#1502;&#1513;&#1500;
&#1492;&#1508;&#1506;&#1500;&#1514; &#1496;&#1493;&#1508;&#1505;
&quot;&#1510;&#1493;&#1512; &#1511;&#1513;&#1512;&quot; &#1488;&#1493;
&#1492;&#1508;&#1506;&#1500;&#1514; &#1506;&#1502;&#1493;&#1491;
&#1488;&#1495;&#1512; &#1513;&#1500; &#1492;&#1488;&#1514;&#1512;.</span><span
dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><u><span lang=HE style='font-size:14.0pt;line-height:115%;font-family:
"Arial","sans-serif";mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1499;&#1500;<span
style='mso-spacerun:yes'>  </span>&#1497;&#1513;&#1493;&#1514;
&#1489;&#1502;&#1506;&#1512;&#1499;&#1514; (&#1491;&#1507;,
&#1502;&#1505;&#1502;&#1498; &#1488;&#1493; &#1508;&#1512;&#1511;)
&#1502;&#1499;&#1497;&#1500;&#1492; &#1488;&#1497;&#1504;&#1508;&#1493;&#1512;&#1502;&#1510;&#1497;&#1492;
&#1511;&#1489;&#1493;&#1506;&#1492; &#1513;&#1488;&#1497;&#1504;&#1492;
&#1514;&#1500;&#1493;&#1497;&#1492; &#1489;&#1513;&#1508;&#1492;
&#1493;&#1488;&#1497;&#1504;&#1508;&#1493;&#1512;&#1502;&#1510;&#1497;&#1497;&#1514;
&#1514;&#1500;&#1493;&#1497;&#1514; &#1513;&#1508;&#1492;.</span></u><span
lang=HE style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>
&#1492;&#1488;&#1497;&#1504;&#1508;&#1493;&#1512;&#1502;&#1510;&#1497;&#1492;
&#1514;&#1500;&#1493;&#1497;&#1514; &#1492;&#1513;&#1508;&#1492;
&#1502;&#1493;&#1495;&#1494;&#1511;&#1514; &#1500;&#1499;&#1500;
&#1513;&#1508;&#1492; &#1489;&#1504;&#1508;&#1512;&#1491;.<span
style='mso-spacerun:yes'>  </span></span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><u><span lang=HE style='font-size:14.0pt;line-height:115%;font-family:
"Arial","sans-serif";mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1504;&#1495;&#1497;&#1493;&#1514;
&#1506;&#1491;&#1499;&#1493;&#1503; &#1499;&#1500;&#1500;&#1497;&#1493;&#1514; <o:p></o:p></span></u></p>

<p class=MsoListParagraphCxSpFirst dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l2 level1 lfo4;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1506;&#1491;&#1499;&#1493;&#1503;
&#1514;&#1493;&#1499;&#1503; &#1502;&#1514;&#1495;&#1497;&#1500; &#1506;&#1500;
&#1497;&#1491;&#1497; &#1489;&#1495;&#1497;&#1512;&#1514;
&quot;&#1504;&#1497;&#1492;&#1493;&#1500; &#1514;&#1499;&#1504;&#1497;&#1501;&quot;
&#1489;&#1514;&#1508;&#1512;&#1497;&#1496;, &#1488;&#1495;&quot;&#1499;
&#1489;&#1495;&#1497;&#1512;&#1514; &#1491;&#1507;
&#1500;&#1506;&#1491;&#1499;&#1493;&#1503;<span style='mso-spacerun:yes'> 
</span>&#1488;&#1493; &#1497;&#1510;&#1497;&#1512;&#1514; &#1491;&#1507;
&#1495;&#1491;&#1513;.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l2 level1 lfo4;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1489;&#1499;&#1500;
&#1497;&#1510;&#1497;&#1512;&#1492; &#1513;&#1500; &#1497;&#1513;&#1493;&#1514;
&#1489;&#1502;&#1506;&#1512;&#1499;&#1514; &#1497;&#1513;
&#1500;&#1492;&#1494;&#1497;&#1503; &#1500;&#1492; &#1513;&#1501;
&#1497;&#1497;&#1495;&#1493;&#1491;&#1497;. &#1513;&#1501; &#1494;&#1492;
&#1497;&#1499;&#1493;&#1500; &#1500;&#1492;&#1497;&#1499;&#1514;&#1489;
&#1489;&#1488;&#1497;&#1494;&#1493; &#1513;&#1508;&#1492;
&#1513;&#1512;&#1493;&#1510;&#1497;&#1501;. &#1512;&#1510;&#1493;&#1497; &#1500;&#1488;
&#1500;&#1513;&#1504;&#1493;&#1514; &#1488;&#1514; &#1513;&#1501;
&#1492;&#1497;&#1513;&#1493;&#1514;.</span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l2 level1 lfo4;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1500;&#1508;&#1504;&#1497;
&#1513;&#1497;&#1493;&#1510;&#1512;&#1497;&#1501; &#1497;&#1513;&#1493;&#1514;
&#1488;&#1493; &#1502;&#1506;&#1491;&#1499;&#1504;&#1497;&#1501;
&#1488;&#1493;&#1514;&#1492; &#1497;&#1513; &#1500;&#1489;&#1495;&#1493;&#1512;
&#1488;&#1514; &#1513;&#1508;&#1514; &#1492;&#1514;&#1493;&#1499;&#1503;
&#1492;&#1512;&#1510;&#1493;&#1497;&#1492;. &#1500;&#1513;&#1491;&#1493;&#1514;
&#1514;&#1500;&#1493;&#1497;&#1497; &#1513;&#1508;&#1492; &#1497;&#1513;
&#1500;&#1492;&#1494;&#1497;&#1503; &#1496;&#1511;&#1505;&#1496;
&#1489;&#1513;&#1508;&#1492; &#1513;&#1504;&#1489;&#1495;&#1512;&#1492;.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l2 level1 lfo4;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1513;&#1491;&#1493;&#1514;
&#1492;&#1502;&#1505;&#1493;&#1502;&#1504;&#1497;&#1501; &#1489; *,
&#1492;&#1501; &#1513;&#1491;&#1493;&#1514; &#1513;&#1495;&#1493;&#1489;&#1492;
&#1500;&#1492;&#1494;&#1497;&#1503;.</span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l2 level1 lfo4;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1504;&#1497;&#1514;&#1503;
&#1500;&#1492;&#1495;&#1500;&#1497;&#1507; &#1513;&#1508;&#1492;
&#1489;&#1499;&#1500; &#1513;&#1500;&#1489; &#1489;&#1493;
&#1504;&#1502;&#1510;&#1488;&#1497;&#1501;.</span><span dir=LTR
style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><u><span lang=HE style='font-size:14.0pt;line-height:115%;font-family:
"Arial","sans-serif";mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1504;&#1495;&#1497;&#1493;&#1514;
&#1506;&#1491;&#1499;&#1493;&#1503; &#1500;&#1499;&#1500;
&#1497;&#1513;&#1493;&#1514;<o:p></o:p></span></u></p>

<p class=MsoListParagraphCxSpFirst dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level1 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1491;&#1507;<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level2 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1513;&#1491;&#1493;&#1514;
&#1514;&#1500;&#1493;&#1497;&#1497; &#1492;&#1513;&#1508;&#1492;
&#1492;&#1501;:</span><span dir=LTR style='font-size:14.0pt;line-height:115%;
font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level3 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1499;&#1493;&#1514;&#1512;&#1514;,
&#1499;&#1493;&#1514;&#1512;&#1514; &#1489;&#1491;&#1508;&#1491;&#1508;&#1503;,
&#1502;&#1497;&#1500;&#1493;&#1514; &#1502;&#1508;&#1514;&#1495;,
&#1514;&#1488;&#1493;&#1512; &#1502;&#1511;&#1493;&#1510;&#1512;, &#1513;&#1501;
&#1502;&#1495;&#1489;&#1512; &#1492;&#1502;&#1505;&#1502;&#1498;
&#1493;&#1514;&#1488;&#1512;&#1497;&#1498; &#1508;&#1512;&#1505;&#1493;&#1501;
&#1492;&#1502;&#1505;&#1502;&#1498;.</span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level2 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1513;&#1491;&#1492;
</span><span dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'>URL</span><span
dir=RTL></span><span lang=HE style='font-size:14.0pt;line-height:115%;
font-family:"Arial","sans-serif";mso-ascii-font-family:Verdana;mso-hansi-font-family:
Verdana'><span dir=RTL></span> &#1497;&#1499;&#1493;&#1500;
&#1500;&#1492;&#1499;&#1497;&#1500; </span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level3 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1508;&#1506;&#1500;&#1492;
&#1513;&#1500; &#1491;&#1507; &#1488;&#1495;&#1512;
&#1489;&#1488;&#1514;&#1512;:</span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
2.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l3 level4 lfo7;tab-stops:list 2.0in;direction:rtl;
unicode-bidi:embed'><![if !supportLists]><span style='font-size:14.0pt;
line-height:115%;font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span class=SpellE><span
dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'>Page:page_name</span></span><span
dir=RTL></span><span lang=HE style='font-size:14.0pt;line-height:115%;
font-family:"Arial","sans-serif";mso-ascii-font-family:Verdana;mso-hansi-font-family:
Verdana'><span dir=RTL></span> &#1500;&#1502;&#1513;&#1500; </span><span
class=SpellE><span dir=LTR style='font-size:14.0pt;line-height:115%;font-family:
"Verdana","sans-serif"'>Page:Moments</span></span><span dir=RTL></span><span
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'><span dir=RTL></span>
</span><span dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
2.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l3 level4 lfo7;tab-stops:list 2.0in;direction:rtl;
unicode-bidi:embed'><![if !supportLists]><span style='font-size:14.0pt;
line-height:115%;font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1488;&#1493;</span><span
dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
2.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l3 level4 lfo7;tab-stops:list 2.0in;direction:rtl;
unicode-bidi:embed'><![if !supportLists]><span dir=RTL></span><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span dir=RTL></span><span
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'><span dir=RTL></span><span
style='mso-spacerun:yes'> </span></span><span dir=LTR></span><span dir=LTR
style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><span
dir=LTR></span>&quot;/<span class=SpellE>fetch?page_name</span>=page name”</span><span
dir=RTL></span><span style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'><span dir=RTL></span>
<span lang=HE>&#1500;&#1502;&#1513;&#1500;</span></span><span dir=LTR
style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
2.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l3 level4 lfo7;tab-stops:list 2.0in;direction:rtl;
unicode-bidi:embed'><![if !supportLists]><span dir=RTL></span><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span dir=RTL></span><span
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'><span dir=RTL></span><span
style='mso-spacerun:yes'> </span></span><span dir=LTR></span><span dir=LTR
style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><span
dir=LTR></span>“/<span class=SpellE>fetch?page_name</span>=Home”<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level3 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1508;&#1506;&#1500;&#1492;
&#1513;&#1500; &#1491;&#1507; &#1489;&#1512;&#1513;&#1514;: </span><span
dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'>http://www.xxx.yyy</span><span
dir=RTL></span><span style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'><span dir=RTL></span>
<span lang=HE>&#1500;&#1502;&#1513;&#1500; <a href="http://www.ynet.co.il"><span
lang=EN-US dir=LTR style='font-family:"Verdana","sans-serif"'>http://www.ynet.co.il</span></a></span></span><span
dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level3 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1508;&#1506;&#1500;&#1492;
&#1513;&#1500; &#1508;&#1506;&#1493;&#1500;&#1492;:
&#1500;&#1502;&#1513;&#1500; </span><span class=SpellE><span dir=LTR
style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'>contactus_url</span></span><span
dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level1 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1502;&#1505;&#1502;&#1498;<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level2 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1513;&#1491;&#1493;&#1514;
&#1514;&#1500;&#1493;&#1497;&#1497; &#1492;&#1513;&#1508;&#1492;
&#1492;&#1501;:</span><span dir=LTR style='font-size:14.0pt;line-height:115%;
font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level3 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1499;&#1493;&#1514;&#1512;&#1514;,
&#1514;&#1511;&#1510;&#1497;&#1512;, &#1513;&#1501;
&#1492;&#1502;&#1495;&#1489;&#1512;, &#1493;&#1514;&#1490;&#1497;&#1493;&#1514;
&#1500;&#1495;&#1497;&#1508;&#1493;&#1513;.</span><span dir=LTR
style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level1 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1508;&#1512;&#1511;</span><span
dir=LTR style='font-size:14.0pt;line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.0in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level2 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1492;&#1513;&#1491;&#1493;&#1514;
&#1514;&#1500;&#1493;&#1497;&#1497; &#1492;&#1513;&#1508;&#1492;
&#1492;&#1501;:</span><span dir=LTR style='font-size:14.0pt;line-height:115%;
font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='margin-top:0in;margin-right:
1.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
text-indent:-.25in;mso-list:l0 level3 lfo6;direction:rtl;unicode-bidi:embed'><![if !supportLists]><span
style='font-size:14.0pt;line-height:115%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span dir=RTL></span><span lang=HE
style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'>&#1499;&#1493;&#1514;&#1512;&#1514;,
&#1493;&#1514;&#1493;&#1499;&#1503;.</span><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast dir=RTL style='margin-top:0in;margin-right:
.5in;margin-bottom:10.0pt;margin-left:0in;mso-add-space:auto;text-align:right;
direction:rtl;unicode-bidi:embed'><span dir=LTR style='font-size:14.0pt;
line-height:115%;font-family:"Verdana","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><span lang=HE style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
mso-ascii-font-family:Verdana;mso-hansi-font-family:Verdana'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
