head {
	direction:rtl;
}
#esTeam {
    font-family:Arial;
	font-size: 12px;
    font-weight: normal;
	color: #666;
    text-align:center;
    position:relative;
	padding:0;   
    direction:rtl;
}

/*------------------------------------------------------------------------------*/
/* Html generic elements style                                                  */
/*------------------------------------------------------------------------------*/

h1 {
	margin:0 0 5px 0;
	font-size:20px;
	color:#ACADB0;
}

h2{
	line-height:30px;
	text-align:right;
	font-size:20px;
	font-weight:bold;
	padding:0;
	margin:0;
}

h3{
clear:both;
padding-bottom:5px;
font-size:20px;
font-weight:bold;
text-align:right;
margin:0;
width:100%;
}

h3 a:hover {
	color:#666;
}

h4 {
	font-size:16px;
	margin:0;
}

h5 {
	clear:both;
	font-weight:bold;
	text-align:center;
	font-size:25px;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
}

h6 {
font-size:16px;
color:#9C0B2C; 
font-weight:bold;
text-align:right;
margin:0;
border-bottom:2px solid #ededed;
padding:2px 0px 2px 0;
}

h6 a:hover {
	color:#666;
}

label {
    color:green;
	font-weight:bold;
	white-space:nowrap;	
}

table {
	table-layout:auto;
	border-spacing:7px 7px;
	font-weight:bold;
	text-align:right;
/*	margin-right:-7px;*/
	direction:rtl;
}
td.text {
	font-weight:normal;
}
th {
	font-size:16px;
	color:#9C0B2C;
}
a:link {
	color: #666;
}
a:visited {
	color: #666;
}
a:hover {
	color: #9C0B2C;
}

a:active {
	color: #9C0B2C;
}
a {
	font-weight: bold;
	text-decoration:none;
}
img {
	border:none;
}

.ltr_direction {
    direction:ltr;
}

/*------------------------------------------------------------------------------*/
/* Admin layout                                                                 */
/*------------------------------------------------------------------------------*/

#wrapper{
    position:relative;
    background:#fff; 
    width:1000px;
    margin: 0 auto;
	text-align:center;
}
#admin_header {
    height:60px;
	width:100%;
    border-bottom:4px solid #ACADB0;
	padding:0 0 15px 0;
    margin:0 0 0 0;
    color:#ACADB0;
    }
    
#admin_page {
	position:relative;
    width:100%;
	padding:0;
    margin:0;
}

#admin_side_menu { 
    float:right;
    position:relative;
	width:250px;
    margin:20px 0 0 0;
    text-align:right;
	padding:0;	
}

#admin_side_box {
    background:#ededed; 
	margin:0 0 25px 0;
	padding:5px 10px 7px 10px;
	position:relative;
	bottom:2px;
	right:2px;
	border:2px solid #fff;
	border-style:outset; 
}

#admin_content_by_side_menu {
    float:left;
	position:relative;
	width:730px;
	margin-top:20px;
    text-align:right;
}
#admin_footer {
	padding-top:10px;
	padding-bottom:10px;
	font-weight:normal;
	text-align:center;
	color:#666;
	width:100%;
	line-height:30px;
	margin-top:20px;
	float:left;
}

#end_float {
	clear:both;
}

/*------------------------------------------------------------------------------*/
/* Admin Header elements                                                        */
/*------------------------------------------------------------------------------*/

/* Admin logo ----------------------------------                                */

#logo {
	clear:both;
	position:absolute;
	top:0;
	right:0;
    text-align:center;
    }
#logo .h1 {
	margin:0;
	font-size:30px;
}

/* Admin Navigation bar  -----------------------------------                   */

#navigation_container  {
	list-style-type: none;
	text-align: right;
	padding:40px 200px 0 0;
    }
#navigation_container ul {
	margin:0 auto;
	padding:0;
    }
#navigation_container li {
 	margin-left:1px;
	height:25px;
	float:right;
	display:inline;
    padding:0 2px 0 2px;
    }

#navigation_container li a {
	text-decoration: none;
	font-size: 16px;
    color:#ACADB0;
	font-weight:bold;
	line-height:25px;
	text-align:right;
	padding:0 2px 2px 12px;
    }
#navigation_container a:hover {
	color:#fff;
	background-color:#666;
    }
#navigation_container #selected a {
	color: silver;
    }
    
/* Admin help ---------------------------------                                */
.help  {
    padding:0 0 0 0;
	float:left;
   
	display:inline;
	font-size:20px;
	font-weight:bold;
	text-align:left;
}
.help a {
}

/* Admin language buttons  ---------------------                               */

.language_navigation {
     padding:0 0 0 0;
  
	float:left;
}
.current_lang_link img {
    border:1px solid #silver;
}

.other_lang_link img {
}

/*------------------------------------------------------------------------------*/
/* Admin Side menu elements                                                     */
/* -----------------------------------------------------------------------------*/

.side_menu_list {
	width:100%;
	margin:0px 0 5px 0; 
	padding:0;
	list-style-type:none;
}

.side_menu_list li {
	margin:0;
    font-size:14px;
    font-weight:bold;
    line-height: 20px;
}

.side_menu_list li a:link, .side_menu_list li a:visited {
	text-align:right;
	display:block;
	margin-top:5px;
    font-size:14px;
	width:100%;
}

.side_menu_list li a:hover {
	color:#fff; 
	background-color:silver; 
}

#post_search {
	padding:0 7px 3px 7px;
	width:100%;
	position:relative;
}

/*---------------------------------------------------------------------------------------*/
/* Admin Content elements                                                                */
/*---------------------------------------------------------------------------------------*/

#admin_content_header {
	border:2px solid #ededed;
	padding:5px 25px 5px 25px;
	margin:0;
	border-style:outset;
}

#admin_content_header .admin_frame {
	border-style:outset;
	padding-bottom:10px;
}

#admin_content_header .admin_box2 {
	margin-right:15px;
	width:45%;
}

#admin_content_menu{
}

.admin_frame {
	border:2px solid #ededed;
	border-style:inset;
	padding:10px 20px 0 0;
	margin-bottom:10px;
	position:relative;
}

.admin_box1 {
	width:49%;
	float:right;
	margin:0px;
}


.admin_box1 .form_note {
	position:absolute;
	bottom:5px;
	right:10px;
}
.admin_box2 {
	width:49%;
	float:left;
	text-align:right;
	margin:0px;
}

.info {
	padding:3px 0px 1px 0;
	margin:0;
	color:#E19B15;
	font-size:12px;
	font-style:oblique;
}

#admin_show_doc{
clear:both;
width:100%;
margin:0;
float:left;
text-align:right;
}
#admin_title{
}

#document_text_fields{
}

.admin_image_list {
	clear:both;
   
    border:2px double #ACADB0; 
    padding:2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
}
.admin_image{
   float:left;
   margin:2px 2px 2px 2px;
}

#picture {

	float:left;

	margin:12px 10px 10px 0; 

	background-color:inherit;

}
.first_word {
	color:#9C0B2C;
	font-weight:normal;	
	font-size:18px;
}

.astrisk {
	color:#E19B15;
	font-weight:bold;
	font-size:16px;
}

.form_note {
    font-weight:bold;
    font-size:12px;
    padding: 0;
	color:#E19B15;
	margin:0;
}

.icon {
	float:left;
}

.level_mark {
	color:#9C0B2C;
	font-family:Arial, Zapf Dingbats;
	font-size:10px;
}

table.pages_tree {
	table-layout:auto;
	border-spacing:30px 7px;
	font-size:14px;
	font-weight:bold;
	text-align:right;
	margin-right:-30px;
	direction:rtl;
}
#admin_login {
     text-align:right;
}
/*---------------------------------------------------------------------------------------*/
/* Admin buttons                                                              */
/*---------------------------------------------------------------------------------------*/

.submit {
	clear:right;
	color:#666;
	font-weight:bold;
}

.back_button {
	background:url(images/left_exit.gif) no-repeat left;
	float:left;
	height:30px;
	width:50px;
}

.back_track {
	float:left;
	margin:0 0 0 5px;
	text-decoration:none;
	font-size:15px;
	color:#9C0B2C; 
}
#admin_control_buttons {
float:left;
padding:0;
margin: 5px 0 10px;
}

/*----------------------------------------------------------------------------*/
/* @group Flashes 				                                              */
/*----------------------------------------------------------------------------*/								 

div.flash {
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	float:right;
	width:80%;
}

div.flash.error {
	background: #FBE3E4;
	color: black;
	border: 2px solid #FBC2C4;
}

div.flash.notice {
	background: #FFF6BF;
	color: black;
	border: 2px solid #FFD324!important;
	line-height: 100%;
}

div.flash.success {
	background: #E6EFC2;
	color: black;
	border: 2px solid #C6D880;
}

/* Active record errors style ---------------------------------                */

.fieldWithErrors {
  padding: 2px;
  background-color: red; 
  display: table;
}

#errorExplanation {
  width: 400px;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: right;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}