<% content_for :content do %>

  <% unless @docs.nil? or @docs.empty?%>
  
     <h1><%= mark_word('תוצאות חיפוש')%></h1>
     
     <%= render :partial => @docs %>

  <%else%>
      <h1> אין מסמכים מתאימים לחיפוש </h1>
  <%end%>
  
<%end%> 