
<% content_for :side_menu do %>
    
   <div id="side_menu">
		<%= render :partial => "reference_side_menu" %>	
   </div>
<%end%>

<%content_for :content_by_side_menu do%>
   <div id="content_by_side_menu">
		<%= yield :content%> 
   </div>
<%end%>

<% content_for :header do %>

	<%= render :file => '/layouts/application_body_header' %>
<%end%>

<%= render :file => '/layouts/application' %>
